@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

a, a:visited, a:hover, a:active {
    color: #0475cc
}

button {
    background-color: #0475cc;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 4px;
    cursor: pointer;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
}
